.wrapper {
  position: relative;
  width: 100%;
}

.input {
  padding-right: 48px;
}

.toggleButton {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}
