.tabletWrapper {
  display: none;
}

.mobileWrapper {
  display: none;
}

/* 태블릿 */
@media (min-width: 768px) and (max-width: 1279px) {
  .tabletWrapper {
    display: block;
  }
}

/* 모바일 */
@media (max-width: 767px) {
  .mobileWrapper {
    display: block;
  }
}
