.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 100%;
  height: 33px;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid var(--color-brand-primary);
  background: transparent;
  cursor: pointer;
  font-family: Pretendard, sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: var(--color-brand-primary);
}

.icon {
  display: flex;
  align-items: center;
  filter: brightness(0) saturate(100%) invert(45%) sepia(85%) saturate(1500%) hue-rotate(208deg)
    brightness(102%) contrast(97%);
}
