.input {
  width: 100%;
  height: 48px;
  border-radius: 12px;
  border: 1px solid var(--color-background-tertiary);
  padding: 16px;
  background: var(--color-background-inverse);
  font-family: var(--font-pretendard), 'Pretendard', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--color-text-tertiary);
  outline: none;
}

.input::placeholder {
  color: var(--color-text-default);
}

.error {
  border-color: var(--color-status-danger);
}

.errorMessage {
  font-size: 12px;
  color: var(--color-status-danger);
  margin-top: 4px;
}
