.textarea {
  width: 100%;
  min-height: 75px;
  border-radius: 12px;
  border: 1px solid var(--color-background-tertiary);
  padding: 12px 16px;
  background: var(--color-background-inverse);
  font-family: var(--font-pretendard), 'Pretendard', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--color-text-tertiary);
  outline: none;
  resize: none;
  overflow-y: auto;
}

.textarea::placeholder {
  color: var(--color-text-default);
}
