@import '../../../shared/styles/color.css';

.overlay {
  display: flex;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  align-items: center;
  justify-content: center;
  z-index: var(--z-index-modal, 1000);
}

.contentsBox {
  position: relative;
  max-width: 90vw;
  max-height: 90vh;
  border-radius: 24px;
  box-shadow: 4px 4px 10px 0px #24242440;
  background-color: var(--color-background-inverse);
  overflow: auto;
}
