.flexCol {
  display: flex;
  flex-direction: column;
}

.flexColCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
