.card {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 54px;

  padding: 0 20px;
  border: 1px solid var(--color-border-primary);
  border-radius: 12px;
  background: var(--color-background-primary);

  cursor: pointer;
  user-select: none;

  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.01);
}

.card:active {
  transform: scale(0.99);
}

.label {
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  color: var(--color-text-primary);
}

.count {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  color: var(--color-brand-primary);
}
