section > .modalContent {
  box-sizing: border-box;
  display: inline-flex;
  width: 384px;
  padding: 16px 16px 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 24px;
  background: var(--Background-Primary, #fff);
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-top: 20px;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.icon {
  flex-shrink: 0;
}

.title {
  margin: 0;
  color: var(--Text-Primary, #1e293b);
  text-align: center;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
}

.description {
  margin: 0;
  width: 280px;
  color: var(--Text-Secondary, #334155);
  text-align: center;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  white-space: pre-line;
}

.actions {
  display: flex;
  width: 280px;
  gap: 8px;
  margin-top: 16px;
}

.closeButton {
  display: flex;
  width: 136px;
  height: 48px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  border: 1px solid var(--Border-Secondary, #cbd5e1);
  background: var(--Background-Primary, #fff);
  color: var(--Text-Default, #64748b);
  text-align: center;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 19px;
  cursor: pointer;
}

.actions .closeButton,
.actions .closeButton:hover:not(:disabled),
.actions .closeButton:active:not(:disabled) {
  border: 1px solid var(--Border-Secondary, #cbd5e1);
  background: var(--Background-Primary, #fff);
  color: var(--Text-Default, #64748b);
}

.confirmButton {
  display: flex;
  width: 136px;
  height: 48px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 12px;
  background: var(--color-status-danger, #fc4b4b);
  color: var(--Text-inverse, #fff);
  text-align: center;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 19px;
  cursor: pointer;
}

.confirmButton:hover {
  background: var(--color-status-danger-hover, #e53e3e);
}

.confirmButton:active {
  background: var(--color-status-danger-pressed, #c53030);
}

@media (max-width: 480px) {
  section > .modalContent {
    width: 100%;
    max-width: 375px;
    border-radius: 24px 24px 0 0;
    background: var(--Background-Primary, #fff);
  }
}
