section > .modalContent {
  display: inline-flex;
  padding: 16px 16px 32px 16px;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
  border-radius: 24px;
  background: var(--Background-Primary, #fff);
  box-sizing: border-box;
  width: 384px;
  height: 260px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin-top: 24px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
}

.title {
  margin: 0;
  color: var(--Text-Primary, #1e293b);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  text-align: center;
}

.description {
  margin: 0;
  color: var(--Text-Default, #64748b);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
}

.form .input {
  display: flex;
  width: 280px;
  height: 48px;
  padding: 16px;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  border: 1px solid var(--Border-Primary, #e2e8f0);
  background: var(--Background-Primary, #fff);
  box-sizing: border-box;
  margin: 0 auto;
}

.actions {
  display: flex;
  width: 280px;
  gap: 8px;
  margin: auto auto 0;
}

.closeButton {
  display: flex;
  width: 136px;
  height: 48px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  border: 1px solid var(--Color-Brand-Primary, #5189fa);
  background: transparent;
  color: var(--Color-Brand-Primary, #5189fa);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 19px;
  cursor: pointer;
}

.sendButton {
  display: flex;
  width: 136px;
  height: 48px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  border: none;
  background: var(--Color-Brand-Primary, #5189fa);
  color: #fff;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 19px;
  cursor: pointer;
}

@media (max-width: 480px) {
  section > .modalContent {
    border-radius: 24px 24px 0 0;
  }
}
