section > .modalContent {
  width: 344px;
  height: 243px;
  display: inline-flex;
  padding: 16px 32px 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 24px;
  background: var(--Background-Primary, #fff);
  box-sizing: border-box;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.content {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transform: translateY(12px);
}

.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  background: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.container .closeButton,
.container .closeButton:hover:not(:disabled),
.container .closeButton:active:not(:disabled) {
  border: none;
  background: transparent;
  color: inherit;
}

.profileImage {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
  border-radius: 999px;
  overflow: hidden;
}

.profileImage :global(img) {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  margin: 0;
  color: var(--Text-Primary, #1e293b);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 17px;
}

.email {
  margin: 0;
  color: var(--Text-Secondary, #334155);
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}

.copyButton {
  display: flex;
  width: 280px;
  height: 48px;
  margin-top: 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 12px;
  background: var(--Color-Brand-Primary, #5189fa);
  color: var(--Text-inverse, #fff);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 19px;
  cursor: pointer;
}

.copyButton:hover {
  background: var(--color-interaction-hover, #416ec8);
}

.copyButton:active {
  background: var(--color-interaction-pressed, #3b63b5);
}

@media (max-width: 480px) {
  section > .modalContent {
    width: 100%;
    max-width: 375px;
    border-radius: 24px 24px 0 0;
    background: var(--Background-Primary, #fff);
  }
}
